# LAMBDA FUNCTIONS
Function created using an expression using ‘lambda’ keyword.

In [ ]:
#syntax
lambda arguments:expressions

In [ ]:
a = int(input("Enter a number : "))
sqaure = lambda a : a*a
print(sqaure(a))

16

In [2]:
sum  = lambda a,b,c:a+b+c
sum(1,2,3)

6

# JOIN METHOD (STRINGS)
Creates a string from iterable objects

In [5]:
l = ["apple", "mango", "banana"]
result = " and ".join(l)
print(result)

apple and mango and banana

# MAP, FILTER & REDUCE
Map applies a function to all the items in an input_list.

In [6]:
l = [1,2,3,4,5,6]

square = lambda x : x*x

sqlist = map(sqaure, l)
print(list(sqlist))

[1, 4, 9, 16, 25, 36]

Filter

Filter creates a list of items for which the function returns true.

In [7]:
l = [1,2,3,4,5,6]

def even(n):
    if (n%2 == 0):
        return True
    return False

onlyEven = filter(even, l)
print(list(onlyEven))

[2, 4, 6]

# Reduce

Reduce applies a rolling computation to sequential pair of elements.

In [10]:
from functools import reduce

l = [1,2,3,4,5,6]

def sum(a,b):
    return a+b

print(reduce(sum, l))

21